<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-dev-comres.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A04AA97B1E81038F000106F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A04AA9971E81038F000106F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A04AA9A21E81038F000106F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
